<div class="mainFormContainer">
    <mat-card class="formCard">
        <mat-card-title>
            <h1>Form builder</h1>
        </mat-card-title>
        <mat-card-content>
            <div class="questionsContainer">
                <ng-container>
                    <!-- 

                    <ng-container *ngFor="let item of formItems; let i = index">

                        <h3> <b>{{i + 1}} )</b> {{item.questionName}}</h3>
                        <mat-card class="paragraph" *ngIf="item.questionType == 'paragraph'">
                            <mat-form-field>
                                <mat-label>Type your answer here</mat-label>
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                    [(ngModel)]="item.answer"></textarea>
                            </mat-form-field>
                        </mat-card>


                        <mat-card class="checkboxList" *ngIf="item.questionType == 'checkboxList'" class="checkBoxContainer">
                            <ng-container *ngFor="let option of item.answerOptions;" >
                                <mat-checkbox  [(ngModel)]="option.isSelected">{{option.value}}</mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="item.allowOwnAnswer">
                                <mat-checkbox #checkbox>Other</mat-checkbox>
                                <mat-form-field *ngIf="checkbox.checked">
                                    <mat-label>Type your answer here</mat-label>
                                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="item.answer"></textarea>
                                </mat-form-field>
                            </ng-container>
                        </mat-card>
                    </ng-container>
                
                -->

                    <form [formGroup]="inputForm">
                        <div formArrayName="inputArray">
                            <div *ngFor="let inputControl of inputArray.controls; let i = index">
                                <mat-card *ngIf="formItems[i].question.questionType == 'paragraph'">
                                    <h3> <b>{{i + 1}} )</b> {{formItems[i].question.questionName}}</h3>
                                    <mat-form-field>
                                        <mat-label>Type your answer here</mat-label>
                                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                            [formControlName]="i"></textarea>
                                    </mat-form-field>
                                </mat-card>
                                <input *ngIf="formItems[i].question.questionType == 'checkboxList'" type="hidden" [formControlName]="i">
                            </div>
                        </div>
                    </form>


                    <div *ngFor="let inputControl of inputArray.controls; let i = index">
                        <mat-card *ngIf="formItems[i].question.questionType == 'checkboxList'"  class="checkBoxContainer">
                            <h3> <b>{{i + 1}} )</b> {{formItems[i].question.questionName}}</h3>
                            <ng-container *ngFor="let option of formItems[i].question.answerOptions;" >
                                <mat-checkbox [(ngModel)]="option.isSelected" (change)="checkboxChanges(i)">{{option.value}}</mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="formItems[i].question.allowOwnAnswer">
                                <mat-checkbox #checkboxOther [(ngModel)]="formItems[i].question.isOtherSelected" (change)="checkboxChanges(i, checkboxOther.checked)">Other</mat-checkbox>
                                <mat-form-field *ngIf="checkboxOther.checked">
                                    <mat-label>Type your answer here</mat-label>
                                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="formItems[i].question.otherAnswer" (ngModelChange)="checkboxChanges(i, true)"></textarea>
                                </mat-form-field>
                            </ng-container>
                        </mat-card>
                    </div>
                   

                </ng-container>
                <span *ngIf="formItems.length == 0"> There is not any question yet</span>
                <button mat-raised-button color="primary" (click)="openDialog()">Add New Question</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="formItems.length == 0 || inputForm.invalid"
                (click)="toAnswers()">Review My answers</button>
        </mat-card-actions>
    </mat-card>
</div>