<div class="mainAnswersContainer">
    <mat-card class="answerCard">
        <mat-card-content>
            <ng-container *ngFor="let item of answersToDisplay;">
                <ng-container *ngIf="item.questionType == 'paragraph'">
                    <h2>{{item.questionName}}</h2>
                    <span>{{item.answer}}</span>
                </ng-container>
                <ng-container *ngIf="item.questionType == 'checkboxList'">
                    <h2>{{item.questionName}}</h2>
                    <ul>
                        <ng-container *ngFor="let option of item.answerOptions ">
                            <li *ngIf="option.isSelected">{{option.value}}</li>
                        </ng-container>
                    </ul>
                    <span *ngIf="item.answer != ''"> Other - {{item.answer}}</span>
                </ng-container>
            </ng-container>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="backToForm()">Back to Form Builder</button>
        </mat-card-actions>
    </mat-card>
</div>
